<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      html{
        font-family: sans-serif;
        margin: 0px;
        padding: 0px;
        display: grid;
        justify-items: center;
        align-items: center;
        height: 100%
      }

      h1{
        text-align: center;
      }

      .container{
          padding: 20px;
          max-width: 800px;
          text-align: center;
      }
    </style>
    <script async defer data-website-id="de5e18ac-311c-4aec-b90b-19d2d6e4e9f0" src="https://umami.mrmonk.dev/umami.js"></script>
    <title>Season Calendar - about | wildferments.org</title>
  </head>
  <body>
  <div class="container">
    <h1 class="heading">Season Calender Project</h1>
    This is prototyp project by wildferments.org. We currently only serve in german for the german region. This is an open source project and is in beta phase. If you want to add informations to this page please commit them on github (link below). 

    <p>If you want to contribute you can do it here: <a href="https://github.com/wildferments/season-calendar">github - wildferments</a></p>
  
  <p><a href="/">back to calendar</a>
  </div>
  </body>
</html>
